@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/*
@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Londrina Solid'), url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap') format('woff2');
} */

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Londrina Solid', cursive;
  // Other global styles
}

.background-image-lobby {
  display: flex;
  justify-content: center;
  align-items: center;
}
